LOG_LEVEL=debug

HTTP_PORT=8080

PG_DB_USER=postgres
PG_DB_PASSWORD=password
PG_DB_HOST=localhost
PG_DB_NAME=neurolab_db
PG_DB_PORT=5434

WEBHOOK_URL=http://localhost:9090/webhook
WEBHOOK_MAX_RETRIES=3
WEBHOOK_RETRY_DELAY_SECONDS=60

SOLUTIONS_DIR=data/solutions
SCRIPTS_DIR=data/scripts

GIGACHAT_ACCESS_TOKEN=""